<div class="border p-3">
    <table class="table table-bordered mt-4" style="border-collapse: collapse;" *ngIf="data.length>0">
        <thead>
            <tr>      
                <th></th>     
                <th *ngFor="let item of times ">
                    {{item.start_time+" - "+item.end_time}}
                </th>
            </tr>
        </thead>
        <tbody class="border-top-0">
            <tr *ngFor="let item of days ">
                <td>{{daysOfWeek[item]}}</td>
                <ng-container *ngFor="let session of data[item]">
                    <td class="position-relative session" *ngIf="session.group_id else e" [colSpan]="session.colspan" (click)="show(session._id,session.group_id,session.day)" [ngClass]="{'currentSession':session.isCurrentSession}">
                        {{session.type+" "+session.course_name}}
                        <br>{{session.classroom_name}}
                    </td>
                    <ng-template #e>
                        <td [colSpan]="session.colspan"></td>
                    </ng-template>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal-backdrop fade" [ngClass]="{'show':showModal,'d-none':!showModal}"></div>
<div class="modal fade" [ngClass]="{'d-block':showModal,'show':showModal}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add absence</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #absenceForm="ngForm">
                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" name="date" #date="ngModel" (change)="selectDate()" ngModel required>
                    </div>
                    <div class="form-group">
                        <label style="vertical-align: top;">Student</label>
                        <select name="students_id" #student_id="ngModel" ngModel required multiple>
                            <ng-container *ngFor="let student of students">
                                <option value="{{student.id}}">{{student.name}}</option>
                            </ng-container>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hide()">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="absenceForm.invalid" (click)="Add()">Add</button>
            </div>
        </div>
    </div>
</div>