<div class="ms3-Wrapper border p-3">
    <table class="ms3-table table table-bordered mt-4" style="border-collapse: collapse;">
        <thead>
            <tr>      
                <th>Date</th>     
                <th>Course</th>
                <th>Student</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="border-top-0">
            <tr *ngFor="let absence of absences ">
                <td>{{getDay(absence.date)}} {{absence.date.toString().split('T')[0].split('-').reverse().join('-')}}</td>
                <td>{{absence.course_name}}</td>
                <td>{{absence.student_full_name}}</td>
                <td>{{absence.status == 1 ? 'justified':'not justified'}}</td>
                <td>
                    <span class="badge badge-primary" (click)="showEditModal(absence)">Edit</span>
                    <span class="badge badge-danger ml-2" (click)="delete(absence._id)">delete</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal-backdrop fade" [ngClass]="{'show':showModal,'d-none':!showModal}"></div>
<div class="modal fade" [ngClass]="{'d-block':showModal,'show':showModal}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit absence status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #absenceForm="ngForm">
                    <div class="form-group">
                        <label style="vertical-align: top;">Status</label>
                        <select name="status" #status="ngModel" ngModel required>
                            <option value="0">not justified</option>
                            <option value="1">justified</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hide()">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="absenceForm.invalid" (click)="save()">Save</button>
            </div>
        </div>
    </div>
</div>