<body>
<!-- header section starts  -->
<header class="header">

  <a href="#" class="logo"> <img class="logosvg" src="./../../assets/home/icons/graduation-cap-solid.svg"> El Sabil </a>

  <nav class="navbar">
      <a href="#home">  home </a>
      <a href="#about">  about </a>
      <a href="#contact"> contact </a>
      <a [routerLink]="['/login']"
      href="javascript:void(0)" id="log-in">Log In</a>


  </nav>

</header>
<!-- header section ends -->

<!-- home section starts  -->
<section class="home" id="home">

  <div class="image">
      <img src="./../../assets/home/images/home-img-green.svg" alt="">
  </div>

  <div class="content">
      <span>El Sabil School</span>
      <h3>A better learning future starts here. <a href="#">get started</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, itaque beatae laboriosam nulla odio voluptatibus molestias vero pariatur laborum molestiae.</p>
      <a href="#courses" class="btn">our courses</a>
  </div>

</section>
<!-- home section ends -->

<!-- info section starts  -->
<section class="info-container">

  <div class="box">
      <i class="fas fa-user-graduate"><img class="logosvgrest" src="./../../assets/home/icons/user-graduate-solid.svg"></i>
      <div class="info">
          <h3>+450</h3>
          <p>students</p>
      </div>
  </div>

  <div class="box">
      <i class="fas fa-laptop-code"><img class="logosvgrest" src="./../../assets/home/icons/laptop-code-solid.svg"></i>
      <div class="info">
          <h3>+70</h3>
          <p>courses</p>
      </div>
  </div>

  <div class="box">
      <i class="fas fa-chalkboard-teacher"><img class="logosvgrest" src="./../../assets/home/icons/chalkboard-user-solid.svg"></i>
      <div class="info">
          <h3>+199</h3>
          <p>teachers</p>
      </div>
  </div>

  <div class="box">
      <i class="fas fa-book"><img class="logosvgrest" src="./../../assets/home/icons/book-solid.svg"></i>
      <div class="info">
          <h3>+520</h3>
          <p>subjects</p>
      </div>
  </div>

</section>
<!-- info section ends -->

<!-- about section starts  -->
<section class="about" id="about">

  <div class="image">
      <img src="./../../assets/home/images/about-img-green.svg" alt="">
  </div>

  <div class="content">
      <span>about us</span>
      <h3>best online platform for e-learning.</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi beatae aperiam iusto officia illo porro. Magni, impedit quam saepe iste, vel perspiciatis eum libero magnam doloribus quisquam sint voluptatibus rem.</p>
      <a href="#" class="btn">read more</a>
  </div>

</section>
<!-- about section ends -->

<!-- reviews section starts  -->
<section class="reviews" id="reviews">

  <div class="heading">
      <span>client reviews</span>
      <h3>what they say?</h3>
  </div>

  <div class="box-container">

      <div class="box">
          <img src="./../../assets/home/images/pic-1.png" alt="">
          <h3>john deo</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos repellat sunt a temporibus suscipit distinctio maiores iste tenetur voluptate nostrum.</p>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
      </div>

      <div class="box">
          <img src="./../../assets/home/images/pic-2.png" alt="">
          <h3>john deo</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos repellat sunt a temporibus suscipit distinctio maiores iste tenetur voluptate nostrum.</p>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
      </div>

      <div class="box">
          <img src="./../../assets/home/images/pic-3.png" alt="">
          <h3>john deo</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos repellat sunt a temporibus suscipit distinctio maiores iste tenetur voluptate nostrum.</p>
          <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
      </div>

  </div>
</section>
<!-- reviews section ends -->

<!-- contact section starts  -->
<section class="contact" id="contact">

  <div class="heading">
      <span>contact us</span>
      <h3>get in touch</h3>
  </div>
  <div class="row">
      <div class="contact-info-container">

          <div class="box">
              <i class="fas fa-phone"><img class="logosvgrest1" src="./../../assets/home/icons/phone-solid.svg"></i>
              <div class="info">
                  <h3>phone :</h3>
                  <p>+123-456-7890</p>
                  <p>+111-222-3333</p>
              </div>
          </div>

          <div class="box">
              <i class="fas fa-envelope"><img class="logosvgrest1" src="./../../assets/home/icons/envelope-solid.svg"></i>
              <div class="info">
                  <h3>email :</h3>
                  <p>YourName@gmail.com</p>
                  <p>DomainName@gmail.com</p>
              </div>
          </div>

          <div class="box">
              <i class="fas fa-map"><img class="logosvgrest1" src="./../../assets/home/icons/map-solid.svg"></i>
              <div class="info">
                  <h3>address :</h3>
                  <p>City, Country - 12345</p>
              </div>
          </div>
      </div>
      <form action="">
          <div class="inputBox">
              <input type="text" placeholder="name" name="" id="">
              <input type="email" placeholder="email" name="" id="">
          </div>
          <div class="inputBox">
              <input type="number" placeholder="phone" name="" id="">
              <input type="text" placeholder="subject" name="" id="">
          </div>
          <textarea name="" placeholder="message" id="" cols="30" rows="10"></textarea>
          <input type="submit" value="send message" class="btn">
      </form>
  </div>
</section>
<!-- contact section ends -->

<!-- footer section starts  -->
<footer class="footer">
  <div class="footer-container">
      <div class="footer-1">
          <a href="#" class="footer-logo"><h4>EL SABIL</h4></a>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio praesentium architecto nulla deserunt ipsum</p>
      </div>

      <div class="footer-2">
          <h4>Permalinks</h4>
          <ul class="permalinks">
              <li><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
          </ul>
      </div>

      <div class="footer-3">
          <h4>Privacy</h4>
          <ul class="privacy">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms and conditions</a></li>
              <li><a href="#">Refund Policy</a></li>
          </ul>
      </div>

      <div class="footer-4">
          <h4>Contact Us</h4>
          <div>
              <p>+123-456-7890</p>
              <p>YourName@gmail.com</p>
          </div>
      </div>
  </div>
</footer>
<!-- footer section ends  -->
</body>
