<div class="AllWrapper">
  <div class="TableWrapper">
    <table>
      <tr>
        <th>Index</th>
        <th>Nom</th>
        <th>Coefficient</th>
        <th>Enseignant Responsable</th>
        <th>Année</th>
        <th class="snapright">Actions</th>
      </tr>
      <tr *ngFor="let course of coursesData ; let i=index">
        <td>{{i}}</td>
        <td>{{course.coursNom}}</td>
        <td>{{course.coursCoef}}</td>
        <td>{{course.enseigantNom}}</td>
        <td>{{course.anneeNom}}</td>
        <td class="snapright">
      </tr>
    </table>
  </div>
</div>
