<div class="TopNavBar">
  <nav>
      <h1>Dashboard</h1>
      <a href="#" class="TNBLogOutWrapper">
          <button  (click)="logout()">
              <img src=".\..\..\..\assets\admin\top-nav\LogOutRed.png">
          </button>
      </a>
      <aside class="TNBAsideWrapper">
          <a href="#" class="TNBProfileWrapper">
              <button>
                  <img src=".\..\..\..\assets\admin\top-nav\DefaultProfile.png">
              </button>
          </a>
          <div class="TNBProfileDetailsWrapper">
              <h2>DADA YACINE</h2>
              <h3>ETUDIANT</h3>
          </div>
      </aside>
  </nav>
</div>
