<div class="ms3-Wrapper border p-3">
    <div class="select">
        <div>
            <label>Niveau: </label>
            <select (change)="getYearsByLevel($event);getTeachersByLevel($event)">
                <option></option>
                <option *ngFor="let level of levels" value="{{level.niveauId}}">{{level.niveauNom}}</option>
            </select>
        </div>
        <div>
            <label>Annee: </label>
            <select (change)="getGroupsByYear($event);getCoursesByAnnee($event)">
                <option></option>
                <option *ngFor="let year of years" value="{{year.anneeId}}">{{year.anneeNom}}</option>
            </select>
        </div>
        <div>
            <label>Groupe: </label>
            <select (change)="setGroupId($event)">
                <option></option>
                <option *ngFor="let group of groups" value="{{group.groupeId}}">{{group.nomGroupe}}</option>
            </select>
        </div>
        <div>
            <button class="btn btn-primary d-block mx-auto"  data-toggle="modal" data-target="#exampleModalCenter" (click)="show()" *ngIf="s_group_id!=''">Ajouter une Seance</button>
        </div>
    </div>
    <div class="select">
        <div>
            <label>Enseignant: </label>
            <select (change)="setTeacherId($event)">
                <option></option>
                <option *ngFor="let teacher of teachers" value="{{teacher.id}}">{{teacher.prenom+' '+teacher.nom}}</option>
            </select>
        </div>
        <div>
            <label>Salle: </label>
            <select (change)="setClassroomId($event)">
                <option value=""></option>
                <option *ngFor="let classroom of classrooms" value="{{classroom._id}}">{{classroom.name}}</option>
            </select>
        </div>
    </div>
    <table class="ms3-table table table-bordered mt-4" style="border-collapse: collapse;" *ngIf="data.length>0">
        <thead>
            <tr>      
                <th></th>     
                <th *ngFor="let item of times ">
                    {{item.start_time+" - "+item.end_time}}
                </th>
            </tr>
        </thead>
        <tbody class="border-top-0">
            <tr *ngFor="let item of days ">
                <td>{{daysOfWeek[item]}}</td>
                <ng-container *ngFor="let session of data[item]">
                    <td class="position-relative" *ngIf="session.group_id else e" [colSpan]="session.colspan">
                        {{session.type+" "+session.course_name}}
                        <span *ngIf="s_group_id==''">{{session.group_name}}</span>
                        <span *ngIf="s_classroom_id==''">{{session.classroom_name}}</span>
                        <span *ngIf="s_teacher_id==''">{{session.teacher_full_name}}</span>
                        <div class="sessionControl p-2" *ngIf="s_group_id!=''">
                            <span class="badge badge-primary" (click)="showEditModal(session._id,item)">modifier</span>
                            <span class="badge badge-danger ml-2" (click)="delete(session._id)">supprimer</span>
                        </div>
                    </td>
                    <ng-template #e>
                        <td [colSpan]="session.colspan"></td>
                    </ng-template>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal-backdrop fade" [ngClass]="{'show':showModal,'d-none':!showModal}"></div>
<div class="modal fade" [ngClass]="{'d-block':showModal,'show':showModal}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ModalAdd?'Ajouter':'Modifier'}} Seance</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #sessionForm="ngForm">
                <div class="form-group">
                    <label>Cours</label>
                    <select name="course_id"  #course_id="ngModel" ngModel required>
                        <option value=""></option>
                        <option *ngFor="let course of courses" value="{{course.coursId}}">{{course.coursNom}}</option>
                    </select>
                    <span class="errors" *ngIf="course_id.touched">
                        <small class="text-danger" *ngIf="course_id.errors?.['required']">Ce champ est obligatoire</small> 
                    </span>
                </div>
                <div class="form-group">
                    <label>Seance type</label>
                    <input type="text" class="form-control" name="type"  #type="ngModel" ngModel required placeholder="Enter session type">
                    <span class="errors" *ngIf="type.touched">
                        <small class="text-danger" *ngIf="type.errors?.['required']">Ce champ est obligatoire</small> 
                    </span>
                </div>
                <div class="form-group">
                    <label>Salle</label>
                    <select name="classroom_id"  #classroom_id="ngModel" ngModel required>
                        <option value=""></option>
                        <option *ngFor="let classroom of classrooms" value="{{classroom._id}}">{{classroom.name}}</option>
                    </select>
                    <span class="errors" *ngIf="classroom_id.touched">
                        <small class="text-danger" *ngIf="classroom_id.errors?.['required']">Ce champ est obligatoire</small> 
                    </span>
                </div>
                <div class="form-group">
                    <label>Jour</label>
                    <select name="day"  #day="ngModel" ngModel required>
                        <option value=""></option>
                        <option value="0">Sunday</option>
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                    </select>
                    <span class="errors" *ngIf="day.touched">
                        <small class="text-danger" *ngIf="day.errors?.['required']">Ce champ est obligatoire</small> 
                    </span>
                </div>
                <div class="form-group time">
                    <label>Heure de debut</label>
                    <input type="text" class="form-control" placeholder="12" name="timeStartH"  #timeStartH="ngModel" ngModel required pattern="2[0-3]|[0-1][\d]" [maxLength]="2">
                    <span class="px-2">:</span>
                    <input type="text" class="form-control" placeholder="00" name="timeStartM"  #timeStartM="ngModel" ngModel required pattern="[0-5][\d]" [maxLength]="2">
                    <span class="errors" *ngIf="timeStartH.touched || timeStartM.touched">
                        <small class="text-danger" *ngIf="timeStartH.errors?.['required']||timeStartM.errors?.['required']">Ce champ est obligatoire</small> 
                    </span>
                </div>
                <div class="form-group time">
                    <label>Heure de fin</label>
                    <input type="text" class="form-control" placeholder="12" name="timeEndH"  #timeEndtH="ngModel" ngModel required pattern="2[0-3]|[0-1][\d]" [maxLength]="2">
                    <span class="px-2">:</span>
                    <input type="text" class="form-control" placeholder="00"  name="timeEndM" #timeEndtM="ngModel" ngModel required pattern="[0-5][\d]" [maxLength]="2">
                    <span class="errors" *ngIf="timeEndtH.touched || timeEndtM.touched">
                        <small class="text-danger" *ngIf="timeEndtH.errors?.['required']||timeEndtM.errors?.['required']">Ce champ est obligatoire</small> 
                        <small class="text-danger" *ngIf="timeStartH.value>timeEndtH.value || (timeStartH.value==timeEndtH.value && timeStartM.value>=timeEndtM.value)">L'Heure de fin doit etre superieure a L'Heure de debut</small> 
                    </span>
                </div>
                <div class="form-group">
                    <label>Enseignant</label>
                    <select name="teacher_id"  #teacher_id="ngModel" ngModel required>
                        <option value=""></option>
                        <option *ngFor="let teacher of teachers" value="{{teacher.id}}">{{teacher.prenom+' '+teacher.nom}}</option>
                    </select>
                    <span class="errors" *ngIf="teacher_id.touched">
                        <small class="text-danger" *ngIf="teacher_id.errors?.['required']">Ce champ est obligatoire</small> 
                    </span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hide()">Close</button>
          <button type="button" class="btn btn-primary" [disabled]="sessionForm.invalid || timeStartH.value>timeEndtH.value || (timeStartH.value==timeEndtH.value && timeStartM.value>=timeEndtM.value)" (click)="ModalAdd? save():edit()">{{ModalAdd?'Ajouter':'Sauvegarder'}} </button>
        </div>
      </div>
    </div>
  </div>