<div class="AllWrapper">
  <div class="TableWrapper">
    <table>
      <tr>
        <th>Propriété</th>
        <th>Valeur</th>
      </tr>
      <tr data-modify="disabled">
        <td>ID Niveau</td>
        <td>Auto</td>
      </tr>
      <tr>
        <td>Nom Niveau</td>
        <td><input type="text" #niveauNom></td>
      </tr>
      <tr data-modify="disabled">
        <td>N° Etudiants</td>
        <td>0</td>
      </tr>
      <tr>
        <td>N° Max Etudiants</td>
        <td><input type="number" min="1" step="1" #nombreMaxDetudiants></td>
      </tr>
    </table>
  </div>
  <button class="SaveBtn" (click)="getNomAndMaxEtdValue(niveauNom.value,nombreMaxDetudiants.value)">Ajouter</button>
  <button class="CancelBtn" [routerLink]="['/admin/niveau']">Annuler</button>
</div>
