<div class="ms3-Wrapper border p-3">
    <h3 class="mb-3">Absences</h3>
    <table class="ms3-table table table-bordered mt-4" style="border-collapse: collapse;">
        <thead>
            <tr>      
                <th>Date</th>     
                <th>Status</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody class="border-top-0">
            <tr *ngFor="let absence of absences ">
                <td>{{absence.date.toString().split('T')[0].split('-').reverse().join('-')}}</td>
                <td>{{absence.status == 1 ? 'justified':'not justified'}}</td>
                <td>{{absence.course_name}}</td>
            </tr>
        </tbody>
    </table>
</div>
