<app-stop-nav></app-stop-nav>
<aside class="AsideNavBar">
  <nav>
      <div class="WebsiteLogoContainer">
          <a href="#"><img src=".\..\..\..\assets\home\icons\graduation-cap-solid.svg">El Sabil</a>
      </div>
      <hr>
      <ul>
          <li>
              <a  [routerLink]="['/student/course']"
              href="javascript:void(0)" class="NavTabWrapperInactive">
                  <button outerLink="/student/course"
                  routerLinkActive #rla1_1="routerLinkActive"
                  [ngClass]="rla1_1.isActive ? 'NavTabActive' : 'NavTabInactive'">
                      <img src=".\..\..\..\assets\admin\side-nav\GroupLogoWhite.png">
                      <span>Cours</span>
                  </button>
              </a>
          </li>
          <li>
              <a [routerLink]="['/student/tasketudiant']"
              href="javascript:void(0)" class="NavTabWrapperInactive">
                  <button routerLink="/student/tasketudiant"
                  routerLinkActive #rla1_1="routerLinkActive"
                  [ngClass]="rla1_1.isActive ? 'NavTabActive' : 'NavTabInactive'">
                      <img src=".\..\..\..\assets\admin\side-nav\CourseLogoWhite.png">
                      <span>Devoir</span>
                  </button>
              </a>
          </li>
      </ul>
      <hr>
      <ul>
          <li>
              <a href="#" class="NavTabWrapperInactive">
                  <button class="NavTabInactive">
                      <img src=".\..\..\..\assets\admin\side-nav\PlanningLogoWhite.png">
                      <span>Planning</span>
                  </button>
              </a>
          </li>
          <li>
              <a href="#" class="NavTabWrapperInactive">
                  <button class="NavTabInactive">
                      <img src=".\..\..\..\assets\admin\side-nav\EventLogoWhite.png">
                      <span>Evénements</span>
                  </button>
              </a>
          </li>
      </ul>
  </nav>
</aside>
<router-outlet></router-outlet>
